* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(287, 10%, 37%);
}

.container {
    padding: 2rem;
    background-color: hsl(287, 10%, 77%);
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
}

form {
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}
label {
    position: relative;
}

form > label > * {
    width: 210px;
}

.error {
    position: absolute;
    left: 0px;
    bottom: -22px;
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #990000;
    border-radius: 0 0 5px 5px;
  }
  
  .error.active {
    padding: 0.3em;
  }

  button {
    padding: .3rem .6rem;
    width: 50%;
    text-align: center;
  }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type="number"] {
    -moz-appearance: textfield;
    }
